/*#sidebar {
  top: 70px;
}

@media (min-width: 768px) {
  #sidebar {
    width: 158px;
    top: 70px;
  }
}

@media (min-width: 992px) {
  #sidebar {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  #sidebar {
    width: 263px;
  }
}*/

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
**********************************
SIDEBAR STYLES
**********************************
*/

#sidebar {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 3%;
  margin-left: 3%;
  width: 30%;
  float: left;
  background-color: #ECECEC;
}

#sidebar li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #5bc0de;
}

#sidebar li:hover {
  color: #000;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + .custom-checkbox {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../img/check_radio_sheet.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + .custom-checkbox {
    background:url('../img/check_radio_sheet.png') -19px top no-repeat;
}


.complete {
  color: blue;
}

.incomplete {
  color: red;
}

/*
**********************************
NAVBAR STYLES
**********************************
*/

.navbar {
  background-color: #f15f22;
  border-color: none;
  height: 57px;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
}

/*
**********************************
MAIN CONTENT STYLES
**********************************
*/

#main-content {
  width: 57%;
  float: right;
  margin-right: 5%;
  padding-right: 2%;
}



/*a:visited {
  text-decoration: none;
  color: inherit;
}*/

a:hover {
  text-decoration: underline;
}

/*
**********************************
FOOTER STYLES
**********************************
*/

#footer {
  background-color: #f15f22;
  position:fixed;
  bottom:0;
  height: 6%;
  width: 100%;
  text-align: center;
  clear:both;
}

#footer ul {
  margin: 0;
  padding: 10px 0px 0px 0px;

}

#footer li {
  display: inline;
  color: #FFF;
  padding-right: 4%;
  font-weight: bold;

}

.Modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.5;
}

.Modal-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}

.Modal-box {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

.modal-button {
  /*margin: 0 15%;*/
  display: inline-block;
  width: 100px;
  margin: 10px auto;
}

.modal-button-left {
  float: left;
}

.modal-button-right {
  float: right;
}

@media screen and (min-width: 992px) {
  .Modal-box {
    width: 50%;
    padding: 30px;
  }
}

.progressbar {
    float: right;
    width: 300px;
    margin-right: 10px;
}

.panel-group .panel {
  width: 80%;
  margin: 0 auto 10px auto;
}
