*{
  margin: 0;
}

/*
**********************************
MAIN CONTENT STYLES
**********************************
*/

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;

}

#main-content {
  width: 57%;
  float: right;
  margin-right: 5%;
  padding-right: 2%;
}

.section-header {
  margin-bottom: 30px;
}

/*
**********************************
SIDEBAR STYLES
**********************************
*/

#sidebar {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 3%;
  margin-left: 3%;
  width: 30%;
  float: left;
  background-color: #ECECEC;
}

#sidebar li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* Active tab style */
.onview {
  background-color: #d3d3d3;
  width: 280px;
  padding-left: 20px;
  color: #5bc0de;
}

/*
**********************************
NAVBAR STYLES
**********************************
*/

.navbar {
  background-color: #f15f22;
  border-color: none;
  height: 57px;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
}

/*
**********************************
MODAL STYLES
**********************************
*/
.Modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.5;
}

.Modal-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 2;
  padding: 60px 15px;
}

.Modal-box {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

.modal-button {
  /*margin: 0 15%;*/
  display: inline-block;
  margin: 0 0 1% 20%;
  background-color: #5bc0de;
  height: 35px;
  width: 150px;
  color: #FFF;
  border-color: #46b8da;
  border-radius: 10px;
  border: 0;

}

.first-modal-button {
  /*margin: 0 15%;*/
  display: inline-block;
  margin: 0 0 1% 40%;
  background-color: #5bc0de;
  height: 35px;
  width: 150px;
  color: #FFF;
  border-color: #46b8da;
  border-radius: 10px;
  border: 0;

}

.open-modal-button {
  background-color: #5bc0de;
  height: 35px;
  width: 150px;
  color: #FFF;
  border-color: #46b8da;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 0;
}

.open-modal-button:hover {
  border-color: none;
}

@media screen and (min-width: 992px) {
  .Modal-box {
    width: 50%;
    padding: 30px;
  }
}

.on-modal-view {
  background: orange;
  color: #FFF;
}

.pager {
  /*display: inline;*/
}

.pager li {
  /*background-color: grey;*/
  margin-right: 5px;
  float: left;
}


/*
Checkbox styles for modal
*/

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + .custom-checkbox {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 0 0px 10px;
    vertical-align:middle;
    background:url('../img/check_radio_sheet.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + .custom-checkbox {
    background:url('../img/check_radio_sheet.png') -19px top no-repeat;
}

.checkbox-container {
  display: inline-block;
  margin-left: 5%;
}


/*
**********************************
FOOTER STYLES
**********************************
*/

#footer {
  background-color: #f15f22;
  margin: 0 auto;
  height: 4em;
  width: 100%;
  text-align: center;
  clear: both;
  position: fixed;
  bottom: 0px;
}

.push {
  height: 4em;
}

#footer ul {
  margin: 0;
  padding: 10px 0px 0px 0px;
}

#footer li {
  display: inline;
  color: #FFF;
  padding-right: 4%;
  font-weight: bold;

}

/*
**********************************
PROGRESS BAR STYLES
**********************************
*/

.progressbar {
    float: right;
    width: 300px;
    margin-right: 10px;
    color: #FFF;
}

.panel-group .panel {
  width: 80%;
  margin: 0 auto 10px auto;
}


/*
**********************************
MEDIA QUERIES
**********************************
*/
@media screen and (max-width:1080px) {

  #sidebar {
    float: none;
    width: 400px;
    margin: 0 auto;
  }

  #main-content {
    float: none;
    width: auto;
    padding: 0 4%;
  }

  .progressbar {
    display: none;
  }

}

@media screen and (max-height:650px) {
  #footer {
    display: none;
  }

}
