<div class="Modal-box">
  <h1>Cont. 2/5</h1>
  <p>
    Fondue feta parmesan. Cheese on toast swiss monterey jack ricotta gouda cream cheese red leicester smelly cheese. Danish fontina cheese and biscuits swiss dolcelatte caerphilly swiss who moved my cheese macaroni cheese. Jarlsberg everyone loves boursin when the cheese comes out everybody's happy bavarian bergkase jarlsberg fondue port-salut. Stilton cheese triangles bocconcini.
  </p>
  <button class="modal-button modal-button-left" ui-sref="getting-started.modal.one">Go Back</button><button class="modal-button modal-button-right" ui-sref="getting-started.modal.three">Next</button>
</div>
