<div class="Modal-box">
  <ul class="pager">
    <li ui-sref-active="on-modal-view" ui-sref="{{item.link}}" ng-repeat="item in qa">{{item.page}}</li>
  </ul>
  <p>This is step five </p>
  <button class="modal-button" ui-sref="qa-basics.modal.four">Go Back</button>
  <label class="checkbox-container">
    Check to complete this section:

    <input type="checkbox" ng-model="steps.qaBasics">
    <span class="custom-checkbox"></span>
    <!-- <span ng-class='{complete : steps.qaBasics,  incomplete : !steps.qaBasics }'>Check Complete</span> -->
  </label>
</div>
