<div class="Modal-box">
  <ul class="pager">
    <li ui-sref-active="on-modal-view" ui-sref="{{item.link}}" ng-repeat="item in qa">{{item.page}}</li>
  </ul>

  <h1>Setting Up Behat Cont.</h1>
  <p>
    Lorem ipsum dolor sit amet, an ferri quidam labitur pri, denique repudiandae mel id. Mea tota partem an. Ei impedit urbanitas sed, cu usu dictas admodum disputando. Vim no facilisi conceptam.
  </p>
  <p>
    Nam eu fierent mediocritatem. Latine fabulas repudiare nam et, quo oratio legere populo ea. Pri accumsan sadipscing ea, iudico virtute euismod in pri. Vim probo putant vivendum in. Est magna vocibus in, debitis tibique sed at, ad nostro eleifend usu.
  </p>
  <p>
    Ea sit fabulas maiorum conclusionemque, dolore fastidii est an, movet mentitum constituam mea ea. Cum ea tantas homero. Ad nam accusam interpretaris, an corpora consetetur sit. His te liber deserunt philosophia, et mel malorum voluptatum, ne aperiam definiebas est. Mei ex graeco intellegam. Ius no solum legere theophrastus.
  </p>

  <button class="modal-button" ui-sref="qa-basics.modal.eight">Go Back</button><button class="modal-button" ui-sref="qa-basics.modal.six">Next</button>

</div>
