<div class="Modal-box">
  <ul class="pager">
    <li ui-sref-active="on-modal-view" ui-sref="{{item.link}}" ng-repeat="item in qa">{{item.page}}</li>
  </ul>
  <h1>Creating an Issue</h1>
  <p>You should now see the capture sidebar with three tabs:</p>
  <p>
      <strong>Issues - Sessions - Templates</strong>
  </p>
  <p>
  The Issues tab allows you to create an issue just like creating an issue within JIRA.  You can now annotate the screenshot using the annotation bar at the top center of the of your browser window.
  </p>
  <button class="modal-button" ui-sref="qa-basics.modal.two">Go Back</button><button class="modal-button" ui-sref="qa-basics.modal.four">Next</button>
</div>
