<div class="Modal-box">
  <h1>JIRA</h1>
  <p>Familiarizing yourself with the bug tracking software at Metal Toad is important in understanding how a typical QA workflow operates.  You will need a few things to get started:</p>
<ul>
    <li>Review the <a target="_blank" href="https://confluence.atlassian.com/display/JIRA/JIRA+101">JIRA 101 guide</a> (specifically the <a target="_blank" href="https://confluence.atlassian.com/display/JIRA/Create+an+issue"> create an issue</a> and <a target="_blank" href="https://confluence.atlassian.com/display/JIRA/Search+for+issues+and+create+reports">search for issues</a> sections)</li>
    <li>Installation of <a target="_blank" href="https://chrome.google.com/webstore/detail/jira-capture/mmmjimhmoodbiejkjgcecaoibmochpnj?hl=en-US">JIRA Capture</a> (Follow the Capture link located in the dashboard of our JIRA website for installation on different browsers)</li>
    <li>Login credentials (request access from Tyler Ward)</li>
    <li>Project specific access (request access from admin or project manager)</li>
</ul>

  </p>
  <button class="first-modal-button" ui-sref="qa-basics.modal.two">Next</button>
</div>
