<div class="Modal-box">
  <h1>Cont.</h1>
  <p>Brie goat the big cheese. Cream cheese croque monsieur st. agur blue cheese smelly cheese st. agur blue cheese blue castello cheese and biscuits edam. Cauliflower cheese roquefort paneer cheese on toast jarlsberg the big cheese hard cheese squirty cheese. Paneer.<p>
  <p>Cottage cheese cheesy feet rubber cheese. Feta fromage blue castello danish fontina camembert de normandie mozzarella smelly cheese swiss. Cut the cheese cheeseburger jarlsberg gouda jarlsberg cheesy grin fromage frais parmesan. Cheeseburger who moved my cheese taleggio taleggio.</p>
  <button class="modal-button modal-button-left" ui-sref="setting-up.modal.one">Go Back</button><button class="modal-button modal-button-right" ui-sref="setting-up.modal.three">Next</button>
</div>
