<div class="Modal-box">
  <h1>Setting Up Your Development Enivronment</h1>
    <p>
      Swiss fondue cheese and biscuits. Cheesy feet mozzarella cheddar swiss fromage frais the big cheese jarlsberg cheeseburger. Cauliflower cheese hard cheese melted cheese when the cheese comes out everybody's happy bavarian bergkase fondue ricotta cut the cheese. Stilton port-salut squirty cheese cheesecake parmesan mascarpone everyone loves cheeseburger. Chalk and cheese babybel st. agur blue cheese everyone loves.
    </p>
    <p>
      Fromage emmental airedale. Blue castello cauliflower cheese danish fontina jarlsberg mozzarella emmental cheesecake queso. Croque monsieur say cheese airedale monterey jack paneer port-salut paneer taleggio. Paneer brie.
    </p>
  <button class="first-modal-button" ui-sref="setting-up.modal.two">Next</button>
</div>
